<%= form_with model: @recipe_food, url: user_recipe_recipe_foods_path, method: :post do |form| %>

    <div >
       <%= form.number_field :quantity, Placeholder: "Quantity"%>
       <%= form.submit %>
     </div>

<% end %>
